.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding: 0 100px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--bg);
  padding: 0 100px;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 160px;
}

.sidebar {
  position: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 310px;
  overflow-y: auto;
}

@media (max-width: 1280px) {
  .layout {
    padding: 0 80px;
  }
  .header {
    padding: 0 40px;
  }
}
@media (max-width: 1024px) {
  .layout {
    padding: 0 40px;
  }
  .header {
    padding: 0 20px;
  }
}
@media (max-width: 960px) {
  .layout {
    padding: 0 20px;
  }
  .header {
    padding: 0 10px;
  }
  .sidebar {
    display: none;
  }
  .container {
    margin-left: 0;
  }
  .content {
    flex-direction: column;
  }
}
