.button {
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  font-family: Montserrat, Roboto, sans-serif;
}
button.active {
  background-color: var(--violet-dark);
  color: white;
}
.primary {
  background: var(--violet-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.default {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.primary:hover,
.default:hover {
  background: var(--violet);
}
.primaryIcon {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.icon {
  border: none;
  background: var(--dark-sea);
  border-radius: 6px;
  width: 20px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon:hover {
  background: var(--sea);
}
/* Sizes for buttons */
.small {
  padding: 8px 14px;
  font-size: 14px;
}

.medium {
  width: 148px;
  height: 40px;
  font-size: 16px;
}

.large {
  width: 200px;
  height: 40px;
  font-size: 16px;
}

/* Styl dla przycisku nieaktywnego */
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
