.product {
  display: flex;
  flex: 1;
  padding: 24px;
  max-height: fit-content;
  column-gap: 20px;
}
.wrapperCurrent {
  flex: 3;
  background-color: white;
  border-radius: 5px;
  height: 385px;
}
.current {
  object-fit: contain;
  border-radius: 8px;
  width: 385px;
  height: 385px;
}
.imagesList {
  flex: 2;
  flex-direction: column;
}
.image {
  background-color: white;
  width: 90px;
  height: 90px;
  object-fit: contain;
  border-radius: 6px;
  cursor: pointer;
}
.info {
  flex: 3;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 10px 0 8px 0;
}
.colors,
.sizes {
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.sizes {
  margin: 16px 0;
}
.colors span,
.sizes span {
  font-size: 14px;
  line-height: 17px;
  color: var(--dark-sea);
}

.list {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.description {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: var(--grey);
}

.actions {
  margin-top: 20px;
  display: flex;
  column-gap: 10px;
}
.bottom {
  display: flex;
  padding: 25px 0;
  justify-content: space-between;
  font-size: 10px;
  color: var(--dark-sea);
}

.add:disabled {
  cursor: not-allowed;
  background: var(--bg);
}
@media (max-width: 960px) {
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapperCurrent {
    max-width: 400px;
    margin-top: 36px;
  }
  .imagesList {
    padding-top: 20px;
  }
  .image {
    margin: 5px;
  }
  .info {
    margin-top: 15px;
    max-width: 400px;
  }
}
